/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #a5c3f0;
    background-image: url('/static/img/tools.png');
    background-repeat: repeat;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 100;
}

#navbarSupportedContent a {
    transition: font-size 900ms;
    transition: color 900ms;
}

#navbarSupportedContent a:hover {
    color: #bbddff;
    font-size: large;
    padding: 0.4rem;
    transition: font-size 900ms;
    transition: padding 900ms;
    transition: color 900ms;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar a:hover {
    color: #bbddff;
    transition: 300ms;
}

h1 {
    color: #2c3e50;
}

h2 {
    color: #354f69;
}

h3,
h4,
h5,
h6 {
    color: #325272;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1.2rem;
}

h2 {
    font-size: 1.9rem;
}

h3 {
    font-size: 1.65rem;
}

h4 {
    font-size: 1.4rem;
}

p {
    text-align: justify;
    color: #304050;
}

.text-indent {
    text-indent: 2em;
    /* Adjust the value as needed */
}

.form_inputs input,
.form_inputs textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
    box-sizing: border-box;
    background-color: #d0ddf1;
}

.card {
    background-color: #cedef7;
}

.card-title {
    font-weight: bold;
    color: #34495e;
}

.card {
    border: none;
    margin-bottom: 1rem;
}

.float-left {
    float: right;
    /* Float image to the left */
    margin-right: 15px;
    margin-left: 15px;
    /* Add space between text and image */
    margin-bottom: 10px;
    /* Add space below the image */
    width: 200px;
    /* Set a width for the image */
    height: auto;
    /* Maintain aspect ratio */
}

img {
    max-width: 96%;
    height: auto;
    margin: 1rem 0;
}

#profile-photo img {
    max-width: 400px;
}

.card img {
    object-fit: cover;
    margin-top: 2rem;
}

.card-img-top {
    object-fit: cover;
    width: inherit;
    /* max-width: 360px; */
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    /* Allows items to wrap to the next row */
    justify-content: space-between;
    /* Distribute space between items */
    width: 95%;
    /* Adjust based on your layout */
    max-width: 1200px;
    /* Optional: maximum width */
    margin: 0 auto;
    /* Center the container */
}

.image-container img {
    width: calc(50% - 10px);
    /* Two images per row, with spacing */
    margin-bottom: 20px;
    /* Spacing between rows */
}

.image-container img:nth-child(odd) {
    margin-right: 10px;
    /* Space to the right on odd images */
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* 4 equal columns */
    gap: 10px;
    /* Space between grid items */
    padding: 20px;
    /* Padding around the grid */
}

.image-grid img {
    width: 100%;
    /* Makes images responsive */
    height: auto;
    /* Maintains the aspect ratio */
    border-radius: 8px;
    /* Optional rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Optional shadow for depth */
    transition: transform 0.2s;
    /* Smooth transition for hover effect */
}

.image-grid img:hover {
    transform: scale(1.05);
    /* Slight zoom effect on hover */
}

.portfolio img {
    width: 100%;
    max-width: 1240px;
}

.card-text {
    font-size: 1rem;
    color: #374141;
}

.container footer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    width: 300px;
    height: 180px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


footer {
    background-color: #343a40;
    font-size: 0.9rem;
    flex-shrink: 0;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer h5 {
    font-size: 1.1rem;
    font-weight: bold;
}

footer p {
    margin-bottom: 0.3rem;
}

footer a,
footer p,
footer h5 {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #bbddff;
    transition: color 300ms;
}

.main-block {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

.extend-footer {
    flex-grow: 1;
    height: 1vh;
}

.projekty {
    background-color: rgba(186, 210, 247, 0.2)
}

main li {
    color: #304050;
}

#carouselIndicators li {
    display: none;
}

#carouselIndicators a:hover {
    background-color: rgba(32, 39, 51, 0.4);
}

main {
    padding: 1rem;
}

.dark-bg>div {
    background-color: rgba(165, 195, 240, 0.3);
}

#home #new_content a {
    color: yellow;
    font-size: 1rem;
    text-decoration: none;
}

#home #new_content a {
    padding: 1rem 0;
    cursor: default;
    background-color: rgba(0, 0, 0, 0);
    transition: font-size 300ms;
}

#home #new_content a:hover {
    cursor: pointer;
    color: orange;
    font-size: 1.3rem;
    transition: font-size 300ms;
}

#toggle-content {
    padding-top: 1rem;
    cursor: pointer;
    transition: color 300ms;
}

#toggle-content:hover {
    color: #e28024;
    transition: 300ms;
}

main p {
    padding: 0.1rem 1rem;
    text-indent: 2rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.transform {
    transition: transform 0.3s;
}

.rotate-180 {
    transform: rotate(180deg) scale(0.3);
}

.transition-enter-active {
    transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

.transition-enter-start {
    opacity: 0;
    transform: translateY(-5px) scale(.7);
}

.transition-enter-end {
    opacity: 1;
    transform: translateY(0) scale(1);
}