{% extends "base.html" %}

{% block content %}
<main class="text-center">
    <div class="row">
        <div class="col-xl-9 col-lg-8 col-md-7 col-sm-6">
            <h1>Vitajte na stránke Ing. Jána Hradila.</h1>
            <h2>Kto som a čím sa zaoberám</h2>
            <div id="profile-photo">
                <a href="{{ url_for ('static', path='work/jan-hradil-2023.jpg') }}">
                    <img src="{{ url_for ('static', path='work/jan-hradil-2023.jpg') }}" class="float-left"
                        alt="Ján Hradil" , title="Ján Hradil">
                </a>
                <p>
                    Študoval som na hutníckej fakulte Technickej univerzity v Košicach. Prvé tri roky boli všeobecné v
                    zmysle, že sme mali bežné predmety ako na podobných fakultách, teda veľa matematiky, chémie, fyziky,
                    angličtiny a informatiky. Okrem toho sme mali aj pre nás špecifické predmety ako zlievarenstvo,
                    tvárnenie, výroba železa a ocele, výroba farebných kovov či materiálové inžinierstvo, ktoré patrilo
                    k mojim obľúbených predmetom a dosiahol som aj veľmi dobré výsledky na samotnej skúške.
                </p>
                <p>
                    Po škole som šiel pracovať do Českej republiky, kde som pracoval dva roky v oceliarenskom priemysle
                    priavo v spoločnosti Pislen Steel, čo patrilo pod bývalú Škodovku v Plzni. Počas krízy v roku 2008
                    dochádzalo k veľkému prepúšťaniu zamestnancov najmä v priemyselných odvetviach. Dopady sa dotkli aj
                    mňa samotného. Rozhodol som sa vrátiť domov na Slovensko. Nachádzal som si rôzne brigády v blízkom
                    okolí.
                </p>
            </div>
            <h3>Začiatky programovania</h3>
            <p>
                Ako som už uviedol vyššie, v odbore som síce pracoval niekoľko rokov, ale rozhodol som sa
                rekvalifikovať na oblasť IT. Začal som pracovať na projektoch ako úprava
                fotiek a tvorba plagátov. Keďže som používal Linux už od ukončenia
                vysokej školy, čoraz viac som začal využívať príkazový riadok a s tým
                spojené bashové skripty. Postupom času som sa dostal k programovacím jazykom
                Python a Perl, ktoré ma zaujali natoľko, že som si skúšal nové projekty
                vypracovávať v týchto jazykoch.
            </p>
            <h3>Výzvy</h3>
            <p>Pracoval som vo viacerých zamestnaniach, kde sa raz vyžadovali programátorské
                zručnosti, inde zas bol dôraz na dátové analýzy. Dátové analýzy ma zaujali natoľko,
                že som posledné obdobie venoval pozornosť a energiu práve na túto oblasť.
                V portfóliu možete nájsť môj kód ohľadom vyhodnotenia šachových turnajov či
                spôsob, ako každý rok získavať podklady na aktualizáciu zjednodušeného
                rozpisu cestovného poriadku pre našu obec alebo susedné obce. Pred rokom 2022
                ešte neboli možnosti využívania umelej inteligencie pri projektoch, ako
                väčšina, som sa v prípade problémov obracal na google a stackoverflow.
            </p>
            <h3>Súčasnosť</h3>
            <p>Vzhľadom na všadeprítomné webové aplikácie som nemohol stáť bokom, rozhodol som sa
                chopiť sa príležitosti a využiť svoje skúsenosti s tvorbou webu aj pre svojich
                kamarátov či známich. Technológie a nástroje, ktoré používam sú väčšinou Drupal,
                FastAPI a Django. Ako databázové systémy využívam z relačných MySQL, PostgreSQL
                a SQLite3, z nerelačných MongoDB. Dnes je už pomerne jednoduché nezasektnúť sa
                vďaka integrácii nástrojov AI, ktoré podstatne zjednodušujú proces vývoja.
            </p>
            <h3>Záujmy</h3>
            <p>Vo voľnom čase rád pracujem v záhrade, chodievam so psom na prechádzky, otužujem počas jesene, zimy a
                jari, plávam, chodievam fotiť na didinské akcie, pričom zvyknem pomôcť s varením guľášu alebo inými
                aktivitami. Turistika a cyklistika tiež patrí medzi moje obľúbené aktivity.
            </p>
            <div class="image-grid" id="profile-photos">
                <a href="{{ url_for ('static', path='work/20230808_174844x.jpg') }}">
                    <img src="{{ url_for ('static', path='work/20230808_174844x.jpg') }}" alt="Ján Hradil" ,
                        title="Ján Hradil - pútnické miesto Mariánka">
                </a>
                <a href="{{ url_for ('static', path='work/20240414_170424c.jpg') }}">
                    <img src="{{ url_for ('static', path='work/20240414_170424c.jpg') }}" alt="Ján Hradil" ,
                        title="Ján Hradil - profilová fotka">
                </a>
                <a href="{{ url_for ('static', path='work/20240121_071949c.jpg') }}">
                    <img src="{{ url_for ('static', path='work/20240121_071949c.jpg') }}" alt="Ján Hradil" ,
                        title="Ján Hradil - krásne zimné ráno, teplota -11˚C, 15 minútová prechádzka">
                </a>
                <a href="{{ url_for ('static', path='work/sach-jan-hradil-01.png') }}">
                    <img src="{{ url_for ('static', path='work/sach-jan-hradil-01.png') }}" alt="Ján Hradil" ,
                        title="Ján Hradil - v šachovej nálade v 4. lige">
                </a>
                <a href="{{ url_for ('static', path='work/20240727_101939c.jpg') }}">
                    <img src="{{ url_for ('static', path='work/20240727_101939c.jpg') }}" alt="Ján Hradil" ,
                        title="Ján Hradil - začína sa variť guľáš tímu Šachistov z Tomášoviec">
                </a>
                <a href="{{ url_for ('static', path='work/20240710_103453c.jpg') }}">
                    <img src="{{ url_for ('static', path='work/20240710_103453c.jpg') }}" alt="Ján Hradil" ,
                        title="Ján Hradil - Bratislava pri parlamente">
                </a>
                <a href="{{ url_for ('static', path='work/20240925_150110c.jpg') }}">
                    <img src="{{ url_for ('static', path='work/20240925_150110c.jpg') }}" alt="Ján Hradil" ,
                        title="Ján Hradil - pivo Bernard v Bratislave padne vždy veľmi osviežujúco">
                </a>
                <a href="{{ url_for ('static', path='work/20241109_145411c.jpg') }}">
                    <img src="{{ url_for ('static', path='work/20241109_145411c.jpg') }}" alt="Ján Hradil" ,
                        title="Ján Hradil - medzi ocenenými avšak mimo prvých miest">
                </a>
                <a
                    href="{{ url_for ('static', path='work/tomasovce_2020-09-19_17h20m38s_slivkovy-lekvar_947c_hdr.jpg') }}">
                    <img src="{{ url_for ('static', path='work/tomasovce_2020-09-19_17h20m38s_slivkovy-lekvar_947c_hdr.jpg') }}"
                        alt="Ján Hradil" , title="Ján Hradil - varenie domáceho kotlíkového slivkového lektváru">
                </a>
                <a href="{{ url_for ('static', path='work/20240710_103328c.jpg') }}">
                    <img src="{{ url_for ('static', path='work/20240710_103328c.jpg') }}" alt="Ján Hradil" ,
                        title="Ján Hradil - Bratislava pri parlamente">
                </a>
            </div>

        </div>

        <aside class="col">
            <div class="projekty">
                <h2>Prezentácia</h2>
                <div x-data="{ open: false, fetchProjekty }">
                    <button class="btn btn-primary m-4" @click="open = !open"
                        x-text="open ? 'Skry projekty' : 'Zobraz projekty'"></button>

                    <div x-show="open">
                        <div x-data="fetchProjekty()">
                            <div x-html="projekty"></div>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    </div>



</main>

<script>
    async function fetchProjekty() {
        try {
            const response = await fetch('/portfolio_short');
            this.projekty = await response.text();
            console.log(this.projekty);
        } catch (error) {
            console.error('Error:', error);
        }
    }
</script>

{% endblock %}