<p>
    Cestujete občas autobusom či vlakom? Ja áno. Každý občas miesto auta použije hromadnú dopravu ako vlak či autobus.
    Niektorí používajú tieto spoje takmer vždy. Či už patríte medzi občasných cestujúcich alebo pravidelných, možno
    práve pre vám dobre padne môj zlepšovák na prehľadný cestovný poriadok vhodný na zavesenie na chladničku, dvere či
    záchodovú stenu, taktiež malý ťahák vhodný do dokladov či peňaženky.
</p>
<p>
    Teraz tá technickejšia stránka projektu. Podklady som čerpal zo stránky cp.sk . Stránka neumožňovala a ani
    neumožňuje zobraziť všetky žiadané spoje počas celého dňa s využitím query parametrov. Tým pádom som musel proces
    nastaviť tak, že manuálnym naklikaním "Neskoršie spojenie" som si zobrazil cestovný poriadok pre danú trasu v
    pracovný deň alebo víkend a tento rozpis som uložil ako HTML. Následným prebehnutím pythonového skriptu som
    extrahoval potrebné údaje, ktoré som následne cez pandas exportoval do excelovskej tabuľky. Tú som vložil do šablóny
    pripravenej v Inkscape, vykonal pár dodatočných úprav a exportoval do výsledného PDF či PNG súboru. Tento som vložil
    do ďalšieho nového Inkscape dokumentu a vkladal som menšie a menšie kópie v záujme maximálneho vyplnenie priestoru
    A4, aby po vytlačení tohto dokumentu bolo možné A4 rozstrihať na menšie časti, ktoré sa použijú spôsobom opísaným v
    odstavci vyššie.
</p>



<p>
    Z času načas sa stane, že ma osloví niekto z mojich kamarátov či známych s prosbou, či by som pre neho nevedel
    spraviť nejakú jedndoduchú webstránku. Ak mám priestor a čas, väčšinou súhlasím a webstránku vyhotovím. Web vytváram
    v CMS Drupal, ale posledne uprednostňujem vyhotovanie stránok aj vo FastAPI či Django frameworku.
</p>
<p>
    Tu sú niektoré z mojich stránok:
</p>
<ul>
    <li>
        <a href="https://peterhradil.fly.dev" target=”_blank”>peterhradil.fly.dev</a> stránka môjho brata Petra Hradila
        - včelára
    </li>
    <li>
        <a href="https://adamecko.fly.dev" target=”_blank”>adamecko.fly.dev</a> stránka môjho kamaráta Tomáša Adamečka -
        umeleckého rezbára
    </li>
    <li>
        <a href="http://campana.sk" target=”_blank”>campana.sk</a> stránka speváckeho chrámového zboru Campana z
        Brezničky
    </li>
    <li>
        <a href="https://pozemkovespolocenstvatomasovce.sk" target=”_blank”>pozemkovespolocenstvatomasovce.sk</a>
        stránka urbáru obce Tomášovce
    </li>
</ul>



<p>
    Infografiku som robil iba ako nejaké vpísanie textu či symbolov do fotografií, kde sa žiadalo zvýrazniť posolstvo
    samotného okamihu, prípadne nejaké jednoduché plagáty. Avšak môj kamarát Miroslav Gáfrik ma oslovil s prosbou, či by
    som mu nejakým spôsobom nevedel pomôcť s grafmi a grafikou ako takou pre ekonomický vývoj na trhoch / burzách.
    Konkrétne som mal na starosti automatizáciu sviečkových grafov OHLC pre najsilnejšie spoločnosti a koncerny.
</p>
<p>
    Neskôr, po úspešnom zavedení automatického generovania sviečkových grafov som začal vyvíjať hexbin graf, kde na
    základe sledovaného kritéria, či je to obrat spoločnosti za rok u firiem alebo čas v sekundách u športovcov
    bežiacich na vrcholových podujatiach 100, 200 či 400 metrov, sa najlepší aktér zakreslí v grafe ako centrálny
    šesťuholník a okolo neho sa postupne vykresľujú ďalší a ďalší aktéry po tých najslabších, ktorých šesťuholníky sa
    obmotávajú okolo centrálnejších vrstiev. Náhľad na tento typ grafu je aj v galérii.
</p>
<p>
    Posledný typ grafu, s ktorým Miro potreboval pomôcť, bol Sankey diagram. Do veľkej miery sa mi podarilo pomôcť aj s
    týmto projektom. Celá tvorba a infografika spomínaného dátového analytika je dostupná na jeho vlastnej webstránke
    https://www.gafrikresearch.sk .
</p>



<p>
    K úprave fotiek a tvorbe plagátov a diplomov som sa dostal spontánne. Fotky z turistiky či spoznávanie nových miest
    si občas vyžadovalo niektoré fotky poupraviť či vymazať niektoré rušivé prvky. Tam začala moja prax s editáciou
    fotiek. Keďže hneď po skončení školy som začal používať Linux miesto Windowsu, úpravy fotiek sa mi zúžili na
    aplikáciu GIMP - rastrová grafika. Práca s vrstvami sa stala mojou zábavkou.
</p>
<p>
    Súbežne ma oslovili aj kamaráti s prosbou, či by som si pre nich nenašiel čas spraviť nejaký ten plagát na akciu.
    Ako som sa rozbehol, tak mi táto úloha aj prischla a keď treba pripraviť plagát na akciu typu - stavanie mája, deň
    detí, deň športu či Mikuláš, tak sa opäť dostávam ku klávesnici a myši. S tým nepochybne súvisí aj tvorba diplomov
    na športové podujatia a prípadne vstupenky, ak sa jedná o kultúrne podujatie typu - Fašiangová ľudová veselica.
    Aplikáciu, ktorú som si obľúbil a som s ňou maximálne spokojný, je Inkscape - vektorová grafika.
</p>
<p>
    S nástupom nových technológií hlavne AI sa stáva úprava fotiek hračka, ale plagáty či diplomy by som stále radšej
    vyhotovoval sám, pretože umiestniť všetky textové prvky v správnom rozvrhnutí na plagát dokáže lepšie človek, ako
    stroj. Každopádne, vývoj ide prudko dopredu, sám sa nechám prekvapiť novými technológiami v blízkej budúcnosti.
</p>



<p>
    Popri úprave fotiek sa naskytlo mnoho príležitostí zjednodušiť proces úprav či už je to aplikovanie opakovaného
    filtra alebo nastavenia hodnôt S krivky, prípadne hromadné zmenšovanie veľkosti fotiek v danom adresári. Tieto
    príležitosti som využil na tvorbu malých shellových skriptov v bashi. Ako som sa učil nové programovacie jazyky,
    skripty som písal v perle a posledne v pythone.
</p>
<p>
    Každý rok zvyknem pre mojich kamarátov z neďalekej obce Breznička pripravovať vstupenky na Fašiangovú ľudovú
    veselicu. Vzor vstupenky mám pripravený a uložený v súbore typu Inkscape SVG. Príslušný text ako dátum a čas a
    taktiež výšku vstupného upravím. Na jednej A4 mám pripravené 4 vstupenky. Čo však zostáva, je sekvenčne očíslovať
    tieto vstupenky od poradového čísla 001 až po 240.
    Tým mením obsah SVG, ktoré priebežne uložím a následne exportujem PNG. Vznikne mi tým niekoľko desiatok súborov PNG,
    ktoré pospájam do PDF pre ľahšiu tlač.
    Myšlienka je teda jednoduchá a skript je
    <a href="https://github.com/janohradil/cislovanie-vstupeniek.git" target="_blank">tu</a>.
</p>


<p>
    Náš šachový tréner ma poprosil, či by som mu nevedel pomôcť s vyhodnotením jednotlivých kôl miestneho turnaja.
    Problém spočíval v tom, že pri každom kole vznikla tabuľka, v ktorej boli všetci hráči zoradení od najlepšieho
    po najslabšieho. Sledovaných kritérií bolo viac, preto úloha pre priebežné vyhodnocovanie poradia nebola taká
    triviálna, že by sa dala sraviť jednoducho v exceli.
</p>
<p>
    Úloha ma zaujala a povedal som mu, že sa na to rád pozriem. Prezrel som si všetky tabuľky, ktoré som mal k
    dispozícii. Rozhodol som sa úlohu vypracovať v jupyter notebooku. Aby som trénerovi umožnil vyššiu flexibilitu s
    vyhodnocovaním na jeho strane, jupyter notebook som transformoval na platformu Kaggle. Odkaz je <a
        href="https://www.kaggle.com/code/janhradil/liga-ml-de-e-vyhodnotenie" target="_blank">tu</a>.
</p>